<div class="container bgColor">
  <div class="row">
      <h3 class="text text-center text-primary bg-primary bookHeader">Book Your Table for Future Parties</h3>
  </div>
  <div class="col-md-6 pb-40">
      <div class="col-md-6">
          <label class="labelColor">Select Date</label>
          <div class="input-group">
              <angular2-date-picker [(ngModel)]="date" [settings]="settings">
              </angular2-date-picker>
              <span class="input-group-addon calender" (click)="defaultOpen=true;"><i class="glyphicon glyphicon-th"></i></span>
          </div>
      </div>
      <div *ngFor="let item of dropdownHeaders;let in = index;">
          <div class="col-md-6">
              <label class="labelColor">Select {{item}}</label>
              <angular2-multiselect [data]="dropdownList[in]" [(ngModel)]="name[in]" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
          </div>
      </div>
      <div class="row confirmButton">
      <button (click)="resetAll()" class="btn btn-success confirmButtontext" data-toggle="modal" data-target="#myModal" ><strong>Confirm Booking</strong></button>
      </div>


  </div>
  <div class="col-md-6 ">

    <rotate-carousel class="bg-danger" width="350px"  height="300px" depth="300px" period="2s" direction="reverse">

        <ng-template *ngFor="let item of hotelCounts" rotateCarouselItem>
                <img  width="350px" height="300px" src="../../assets/images/bookOffer/{{item}}.jpg">
        </ng-template>
    </rotate-carousel>
</div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
  
            <!-- Modal content-->
            <ngx-spinner></ngx-spinner>
            <div class="modal-content">
                <div class="modal-header btn-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">BOOKING STATUS</h4>
                </div>
                <div class="modal-body">
                    <h4>Thankyou, Booking confirmed</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>