<div class="container-fluid">
<div class="row ">
        <div class="col-sm-6">
            <div class="text-center bglocate">
                <h2>{{swigmatoHelper}}</h2>
                <h4>order your delicious food in Swigmato</h4>
            </div>
            <div class="locateBelow bg-danger">
                    <div class="input-group">
                            
                            <input  type="text" class="form-control inputHeight2" name="locate" placeholder="Choose your location">
                            <span class="input-group-addon locateme">Locate Me <i class="glyphicon glyphicon-screenshot"></i></span>
                            
                          </div>

            </div>
        </div>
        <div class="col-sm-6 bgDeals">
    <h4 class="text-center text-danger nopadding bgDeals">Deals of the day</h4>
    <div class="segmentedLine"></div>
    <h5 class="">If New User use "FIRST" to get 50%offer</h5>
        </div>
    </div>
</div>