.homeBody{
    background-color:#fff;
    height:50%;
}
.nopadding{
    padding:0px !important;
}
.segmentedLine{
    background-color: #d80505;
    height:2px;
}
.bgDeals{
    background-color:rgb(252, 252, 252);
    color:rgb(250, 0, 0);
}
.bglocate{
    background-color: rgb(255, 153, 0);
    color:#fff;
    padding:65px;
}
.locateBelow{
    padding: 50px;
}
.inputHeight1{
    height:50px !important;
    background-color: #fff;
    color:rgb(255, 153, 0);
    /* width:20px; */
}
.inputHeight2{
    height:50px !important;
}
.locateme{
    background-color:rgb(84, 83, 80);
    color:#fff;
    cursor:pointer;
}
.bg-40{
    background-color: darksalmon;
}
.luckyPromo{
    background-color: #f8ffb5;
    color:#000;
}
.swigitocolor{
color:#ff9900;
}
.submit{
    background-color: #ff9900;
    color:#fff;
}
.pd-l{
    padding-left: 476px;
}
.extraPadding{
    padding: 0px 33px;
    font-size: x-large;
}
textarea {
    resize: none;
  }
  .close{
      color:#fff;
  }
   