.login{
    background-color: #fff;
}
.modal-header{
    padding:0px;
    width:100%;
    height:50% !important;
}
.no_outline{
    outline: none;
}
.mt-10{
    margin-top: 10px;
}
.welcome{
    background-color: #ff7530;
    color:#fff;
}