<div class="container-fluid">

  <button id="openModal" #openModal [hidden]="true" data-toggle="modal" data-target="#login-modal" data-backdrop="static"></button>

  <div class="modal fade" id="login-modal" role="dialog">
      <div class="modal-dialog">

          <div class="modal-content">
              <div *ngIf="!signUp">
              <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h2 class="text-center modal-title welcome">Welcome to Swigito</h2>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input id="usr" type="text" class="form-control" name="usr" [(ngModel)]="username" placeholder="Username">
                      </div>
                      <div class="input-group mt-10">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input id="password" type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
                      </div>
                  </form>
                  <div [hidden]="!errorMsg">
                      <span class="col-md-12 text-center alert alert-danger alert-lg">! Invalid Credentials</span>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" (click)="onResetAll(false)" class="btn btn-primary no_outline">SignUp</button>
                  <button type="button" (click)="onResetAll(true)" class="btn btn-warning no_outline">Reset</button>
                  <button type="button" (click)="login();" class="btn btn-success no_outline">Login</button>
              </div>s
            </div>


<!--SignUp-->

<div *ngIf="signUp">
        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h2 class="text-center modal-title signUp_header">Sign UP!</h2>
        </div>
        <div class="modal-body">
           
                <div class="row">
                    <span  class="col-md-offset-1 col-md-3">First Name</span>
                    <input  class="col-md-4 form-control Sinput" type="text" name="fn" [(ngModel)]="sfirstName" placeholder="First Name">
                </div> <br>
                <div class="row">
                    <span  class="col-md-offset-1 col-md-3">Last Name</span>
                    <input  class="col-md-4 form-control Sinput" type="text" name="ln" [(ngModel)]="slastName" placeholder="Last Name">
                </div><br>
                <div class="row">
                    <span  class="col-md-offset-1 col-md-3">User Name</span>
                    <input  class="col-md-4 form-control Sinput" type="text" name="un" [(ngModel)]="suserName" placeholder="User Name">
                </div> <br>
                <div class="row">
                    <span  class="col-md-offset-1 col-md-3">Password</span>
                    <input  class="col-md-4 form-control Sinput" type="password" name="pw" [(ngModel)]="spwd" placeholder="Password">
                </div>
                
        </div>
        <div class="modal-footer screate">
            <button type="button" (click)="onSignUp(suserName,spwd)" class="btn btn-primary screateInput">Create</button>
        </div>
      </div>

          </div>

      </div>
  </div>
</div>
<div *ngIf="loginCheck">
<app-landingpage></app-landingpage>
</div>