.initial{
height:525px;
background-color: rgb(78, 78, 78);
overflow: auto;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-top: 25px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;

}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
  
  box-shadow: 0px 0px 3px 5px rgba(125,125,125);
}

.flip-card-back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
  .legend{
    padding: 10px 250px;
    background-color:rgb(53, 52, 52);
    color:#fff;   
    font-size: 35px;
  }

  .Flip-label{
    background-color: rgb(59, 55, 55);
    color:#fff;
    padding: 5px;
    font-size: 20px;
  }
.codeColor{
  color:rgb(255, 15, 15);
}
.codeBg{
  padding: 5px 10px;
  color:#000;
  background-color: rgb(185, 185, 185);
}
