<div>
    <span class="legend">
    Choose Your Favourire Restaurants for Delicious Food
  </span>
  </div>
<div class="initial">
<div  *ngFor="let item of rstDetails">
  <div class="mainDiv">
     <div class=" col-md-offset-1 col-md-3 flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
       <img src="../../assets/images/restaurants/{{item.image}}.jpg" alt="Avatar" style="width:300px;height:280px;"> 
       <div style="background-color: black;color: #fff;font-weight: bold;font-size: 20px;">{{item.name}}</div>
    </div>
    <div class="flip-card-back">
      <div class="Flip-label">{{item.name}}</div>
      <div class="row"><label class="col-md-offset-1 col-md-1">Location:</label><span  class="col-md-9">{{item.location}}</span></div> 
        <div class="row"><label  class="col-md-offset-1 col-md-1">Rating:</label><rating  class="col-md-9" [(ngModel)]="item.rating" [readonly]="true"></rating></div>
          <div class="row"><label  class="col-md-offset-1 col-md-1">Offer:</label><span class="col-md-9 codeColor">{{item.off}}% on total value</span></div>
          <div class="row"><label class="col-md-offset-1 col-md-1">Code:</label><span  class="col-md-9">{{item.code}}</span></div> 
    </div>
  </div>
</div>
</div>
</div>
</div>